<!DOCTYPE html>
<html>
<head>
  <title>Cbr</title>
   <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  
  	<%= javascript_include_tag :defaults %>
</head>
<body>
	<div class="container">
		<nav class="round">
	      <ul>
	        <li><%= link_to "Client List", '#' %></li>
	        <li><%= link_to "Jobs List", '#' %></li>
	        <li><%= link_to "Master Contacts", '#' %></li>
	        <li><%= link_to "Quick Reference Guides", '#' %></li>
	        <li><%= link_to "Bulletins", '#' %></li>
	      </ul>
	    </nav>
		
		<section class="round" style="clear: both;">
			<%= yield %>
		</section>
	</div>

</body>
</html>
